[package]
edition = "2024"
name = "conspire"
publish = false
version = "0.3.1"

[lib]
crate-type = ["cdylib"]

[build-dependencies]
conspire = { version = "=0.5.11", features = ["doc", "fem"] }

[dependencies]
conspire = { version = "=0.5.11", features = ["doc", "fem"] }
ndarray = { version = "=0.16.1" }
numpy = { version = "=0.27.0" }
pyo3 = { features = ["extension-module"], version = "=0.27.0" }

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
strip = "symbols"
