[package]
edition = "2024"
name = "conspire"
publish = false
version = "0.3.1"

[lib]
crate-type = ["cdylib"]

[build-dependencies]
conspire = { features = ["doc", "fem"], git = "https://github.com/mrbuche/conspire.rs.git", branch = "dev" }

[dependencies]
conspire = { features = ["doc", "fem"], git = "https://github.com/mrbuche/conspire.rs.git", branch = "dev" }
ndarray = { version = "=0.16.1" }
numpy = { version = "=0.27.0" }
pyo3 = { features = ["extension-module"], version = "=0.27.2" }

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
strip = "symbols"
