{% extends "default/module.html.jinja2" %}
{% block title %}
    conspire - Python
{% endblock %}
{% block nav_members %}
    {% if module.members %}
        <h2>conspire latest</h2>
        {{ nav_members(module.members.values()) }}
    {% endif %}
{% endblock %}
